.lab-navbar {
    padding: 3vh;
}

.lab-sinNav {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 14vh auto;
}

.contenido1 {
    height: 81vh;
    background-image: url(../img/taxi2.png);
    background-size: 100%;
    background-repeat: no-repeat;
}

.recRegistro {
    background-color: #FCB425;
    padding-left: 4vw;
    padding-bottom: 3vw;
    padding-top: 3vw;
    margin-top: 20vh;
}

.titulo {
    padding: 0;
    margin: 0;
}

.registrotext {
    margin-top: 2vw;
}

.borde {
    height: 3vh;
    border-bottom: white solid .3vh;
}

.centrar {
    text-align: center;
}

.logoblanco {
    width: 6vw;
    height: 2.5vh;
}

.recDescarga {
    display: grid;
    grid-template-columns: 4fr 4fr 2fr;
    padding-top: 3vh;
    padding-bottom: 3vh;
}

.imgCelu {
    width: 70%;
}

.celImg {
    display: grid;
    border-top: white solid .3vh;
    border-bottom: white solid .3vh;
    justify-items: center;
    padding: 2vh;
}

.textoSeccion2 {
    display: grid;
    justify-items: space-around;
    font-size: 18px;
    padding-top: 3vh;
    padding-bottom: 3vh;
    padding-right: 3vh;
    border-bottom: white solid .3vh;
    border-right: white solid .3vh;
    border-top: white solid .3vh;
}

.contenido3 {
    background-image: url(../img/conductor.png);
    height: 48vh;
    background-size: 100%;
    background-repeat: no-repeat;
}

.recCuandoquieras {
    padding-bottom: 15.5vh;
    padding-top: 15vh;
    background-color: black;
    opacity: .7;
    color: white;
}

.amarilloboton {
    background-color: #FCB425;
    color: white;
}

.contenido4 {
    margin-top: 4vh;
    margin-bottom: 4vh;
}

.recTarifas {
    margin-left: 5vw;
    margin-top: 5vh;
}

.inputsLab {
    margin-top: 7vh;
    border-radius: 1vw;
    background-color: #FCB425;
    border: white solid .3vh;
    color: white;
    text-align: center;
    font-size: 13px;
    width: 30vw;
    height: 5vh;
}

.inputs {
    margin-left: 1vw;
}

.avion {
    margin-top: 8vh;
}

.circulo {
    margin-top: 7vh
}

.rectMap {
    text-align: center;
    border: white solid .3vh;
    padding: 3vh;
}

.imgAvion {
    width: 100%;
}

.boto {
    margin-left: 10.5vw;
    margin-top: 3vh;
}

.contenedorFoot {
    display: grid;
    background-color: #3E3F40;
    justify-items: center;
}

.logoFoot {
    display: grid;
    height: 15vh;
    width: 90vw;
    align-items: flex-end;
    padding: 2vh;
    border-bottom: white solid .3vh;
}

.logoFoot>img {
    width: 10%;
}

.columnasRedesSociales {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    
}

.foul>li{
    list-style: none;
    line-height: 6vh;
    font-size: 12px;
}

.listaAyuda{
    display: grid
    margin-top: 3vh;
}

.logosApp{
    display: grid;
    grid-template-rows: auto;
    align-items: flex-end;
    padding-bottom: 3vh;


}

.logosApp>img{
    width: 50%;
}

.CopyRight{
    display: grid;
    width: 90vw;
    height: 10vh;
    border-top: white solid .3vh;
    align-items: flex-end;
    font-size: 12px;
    
}


